/*body*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('img/spring\ creek.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    vertical-align: middle;
    position: relative;
    height: 100vh;
    margin: 0;
}
