/*header style*/
header {
    text-align: left;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('img/bright\ sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    vertical-align: middle;
    position: relative;
    height: 100vh;
    margin: 0;
}
/*main*/
main {
  text-align: center;
  vertical-align: bottom;
}
/* Footer */
.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  text-align: center;
}

/*centering*/
.text {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
  font-size: xx-large;
  text-decoration: none !important;
  text-decoration-color: white !important;
}

/*color override*/
.a {
  color: #FFFFFF;
  text-decoration: none !important;
}
.a:hover {
  color: #FFFFFFFF;
  text-decoration: none !important;
  cursor:pointer;
  color: red;
}
.a:visited {
  text-decoration: none;
  color: white;
}
.a:focus {
  text-decoration: none;
  color: white;
}
.a:hover, a:active {
  text-decoration: none;
  color: red;
}
.a::after {
  text-decoration: none;
  color: white;
}